<section class="flex flex-col items-center w-full">
  <%= render partial:'partials/navbar', locals: {page_title: 'My Recipes', user: @user} %>

  <div class="w-5/6 flex justify-end mt-10">
    <%= link_to "New Recipe", new_recipe_path, class: 'py-2 px-4 bg-slate-600 text-slate-100 rounded-lg font-semibold mb-4' %>
  </div>

  <div class="flex flex-col gap-4 w-full items-center text-slate-700">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe.id), class:"border-2 border-blue-900 rounded-lg flex w-5/6 h-32 pl-6" do %>
        <div class="w-1/3 flex flex-col justify-center">
          <p class="text-3xl"><%= recipe.name %></p>
          <%= button_to "Remove", recipe_path(id: recipe.id), method: :delete, class: 'text-xl text-blue-600 underline' %>
        </div>
        <div class="w-2/3 flex items-center">
          <p><%= recipe.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>