<section class="flex flex-col items-center w-full">
  <%= render partial:'partials/navbar', locals: {page_title: 'Details', user: @user} %>

  <div class="w-full flex flex-wrap gap-y-8 justify-center px-28 py-7 text-slate-600">
    <h1 class="w-full text-center text-5xl font-bold"><%= @recipe.name %></h1>

    <div class="w-1/2 flex flex-col gap-3 text-slate-600 text-xl">
      <p>Preparation time: <%= @recipe.preparation_time %></p>
      <p>Cooking time: <%= @recipe.cooking_time %></p>
      <p class="text-justify"><%= @recipe.description %></p>
    </div>

    <div class="w-1/2 flex justify-center">
      <%= form_with url: recipe_path, method: :patch, scope: :recipe do |f| %>
        <div class="text-4xl ml-32">
            <%= f.label :public, class: "text-4xl" %>
            <%= f.check_box :public,
                           {
                             role: "switch",
                             onchange: "this.form.submit()"
                           }  %>
          </div>
      <% end %>
    </div>

    <div class="w-full flex justify-between">
    <%= link_to  'Go to shopping list', shoppinglist_index_path, class: "w-3/8 bg-slate-600 text-slate-100 rounded-lg font-semibold text-center text-xl py-4 px-5" %>
    <%= link_to "Add Food", new_recipe_recipefood_path(params[:id]), class:"w-3/8 bg-slate-600 text-slate-100 rounded-lg font-semibold text-center text-xl py-4 px-5" %>
    </div>

    <table class="w-full">
      <tr class="bg-slate-700 text-slate-200 border-x-2 border-t-2 border-slate-700 text-2xl">
        <th>Name</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
      <% @ingredients.each do |i| %>
      <tr class="h-[50px] bg-slate-200 text-slate-700 border-b-2 border-slate-700 border-x-2">
        <th class="w-1/4 text-xl"><%= i['name'] %></th>
        <th class="w-1/4 text-xl"><%= i['quantity'] %><%= i["unit"] %></th>
        <th class="w-1/4 text-xl"><%= i['value'] %></th>
        <th class="w-1/4 text-lg">
          <p class="my-4">Modify</p>
          <p class="mb-4">Remove</p>
        </th>
      </tr>
      <% end %>
    </table>
  </div>

</section>
