<div>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<div>
  <%= button_to "Add Food", new_food_path, method: :get, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<table class="min-w-full">
  <thead>
    <tr>
      <th class="px-4 py-2">Food</th>
      <th class="px-4 py-2">Measurement unit</th>
      <th class="px-4 py-2">Unit Price</th>
      <th class="px-4 py-2">Quantity</th>
      <th class="px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @food.each do |food| %>
    <tr>
      <td class="px-4 py-2"><%= food.name %></td>
      <td class="px-4 py-2"><%= food.measurement_unit %></td>
      <td class="px-4 py-2"><%= food.price %></td>
      <td class="px-4 py-2"><%= food.quantity %></td>
      <td class="px-4 py-2">
        <%= button_to 'Delete', food_path(food.id), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
